@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --text-blue: hsl(215, 51%, 70%);
  --text-soft-blue: hsl(215, 51%, 70%);
  --text-cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --text-white: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 7%);
  --font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* image */
.image {
  /* margin: 10px 25px 0; */
  position: relative;
}

.img {
  width: 320px;
  height: auto;
  /* margin: 10px 25px 0; */
  border-radius: 15px;
}

/* avatar */
.avatar {
  border-radius: 15px;
}

/* inside card */
.inside--card {
  display: flex;
  flex-direction: column;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23em;
  height: 40em;
  background-color: var(--line-color);
  color: var(--text-white);
  border-radius: 25px;
}

.inside-card {
  padding: 2rem;
  text-align: left;
}

.top--card {
  color: var(--text-white);
}

.title {
  color: var(--text-white);
  font-weight: 700;
  padding: 1em 0;
}

.text {
  color: var(--text-soft-blue);
  font-weight: 400;
  line-height: 30px;
}

.bottom-card {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.left-text {
  display: flex;
  justify-content: center;
  gap: 0.4em;
  color: var(--text-cyan);
  font-weight: 600;
}

.right--text {
  display: flex;
  justify-content: center;
  gap: 0.4em;
  color: var(--text-soft-blue);
}

hr {
  background-color: var(--line-color);
  padding: 5px 0;
}

/* bottom text with avatar */
.bottom__text {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 15px;
  gap: 1rem;
}

.avatar {
  width: 40px;
}

.author {
  color: var(--text-blue);
  font-weight: 400;
}

.author span {
  color: var(--text-white);
}

/* hover */
/* .img:hover{
  background-color: var(--text-cyan);
} */

.overlay {
  height: 99%;
  width: 95%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  opacity: 0;
  margin: 8px 8px 0;
}

.overlay:hover {
  background-color: var(--text-cyan);
  opacity: 1;
}

.view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title:hover,
.author span:hover {
  color: var(--text-cyan);
}

@media screen and (min-width: 320px) {
  .img {
    width: 250px;
    height: auto;
    margin: 10px 18px 0;
    border-radius: 15px;
  }

  .inside-card {
    padding: 1rem;
    text-align: left;
  }

  .card {
    width: 18em;
    height: 35rem;
  }
}

@media screen and (min-width: 375px) {
  .img {
    width: 300px;
    height: auto;
    margin: 10px 18px 0;
    border-radius: 15px;
  }

  .inside-card {
    padding: 1rem;
    text-align: left;
  }

  .card {
    width: 21em;
    height: 38rem;
  }
}
